@model List<The_Gym.Models.FeeStudentPlaneOfferModel>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@{
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>SR NO</th>
                <th>Name</th>
                <th>Invoice Date</th>
                <th>Planes</th>
                <th>Durations</th>
                <th>Price</th>
                <th>Offers</th>
                <th>Discount On bill</th>
                <th>GST</th>
                <th>Grand Total</th>
                <th style="text-align:center;width:100px;">
                    Add row <button type="button" data-func="dt-add" class="btn btn-success btn-xs dt-add" onclick="location.href='@Url.Action("Create", "Fee")'">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @{ 
                Int64 srno = new Int64();
                srno = 1; 
            }

            @foreach (var v in Model)
            {
                <tr class="pointer even">
                    <td>@srno</td>
                    <td>@v.StudentModel.Full_Name</td>
                    <td>@v.FeeModel.Payment_Date</td>
                    <td>@v.PlaneModel.Name</td>
                    <td>@v.FeeModel.Duration</td>
                    <td>@v.PlaneModel.Worth</td>
                    <td>@v.OfferModel.Name</td>
                    <td>@v.FeeModel.Discount_On_Bill</td>
                    <td>@v.PlaneModel.GST</td>
                    <td>@v.FeeModel.Payment_Amount</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs dt-delete" style="margin-right:6px;" value=@v.FeeModel.ID data-toggle="tooltip" data-placement="top" title="Delete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-success btn-xs dt-view" data-toggle="tooltip" data-placement="top" title="View" onclick="location.href = '@Url.Action("Bill", "Fee", new { ID = v.FeeModel.ID })'">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>    
                srno += 1;
            }
        </tbody>
    </table> 
}

@section Scripts{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/buttons.colVis.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/buttons.bootstrap.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $(document).ready(function () {
            // DataTable initialisation
            $('#example').DataTable(
                {
                    "dom": '<"dt-buttons"Bf><"clear">lirtp',
                    "paging": true,
                    "autoWidth": true,
                    "columnDefs": [
                        { "orderable": false, "targets": 10 }
                    ],
                    "buttons": [
                        'colvis',
                        'copyHtml5',
                        'csvHtml5',
                        'excelHtml5',
                        'pdfHtml5',
                        'print'
                    ]
                }
            );

            //Delete buttons
            $('.dt-delete').each(function () {
                $(this).on('click', function (evt) {
                    if (confirm("Are you sure to delete this row?")) {
                        $this = $(this);
                        var dtRow = $this.parents('tr');
                        var table = $('#example').DataTable();
                        table.row(dtRow[0].rowIndex - 1).remove().draw(false);

                        $.ajax({
                            type: "GET",
                            url: "/Fee/Delete/",
                            data: "ID=" + $(this).val(),
                            success: function (text) {
                                if (text == "success") {
                                    console.log("sucess");
                                } else {
                                    console.log("error");
                                }
                            }
                        });
                    }
                });
            });
        });
    </script>
}