@model The_Gym.Models.EquipmentModel
<!DOCTYPE html>
<html>
<head>
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte.min.css">
    <link href="~/Content/main.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/notification.css">
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/notification.js"></script>
</head>
<body>
    @if (TempData["Success"] != null)
    {
<script>
            $(function () {
                var Success = '@TempData["Success"]';
                if (Success != null) {
                    createAlert('', 'Success', Success, 'success', false, true, 'notification');
                }
            });
</script>}
    @if (TempData["Error"] != null)
    {
<script>
            $(function () {
                var Error = '@TempData["Error"]';
                if (Error != null) {
                    createAlert('', 'Error', Error, 'danger', false, true, 'notification');
                }
            });
</script>}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Edit Equipment</h3>
                </div>
                <!-- /.card-header -->
                @using (Html.BeginForm("Edit", "Equipment", FormMethod.Post))
                {
    @Html.AntiForgeryToken()
                    <div class="card-body" id="notification">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name)<span style="color: #FF0000;">*</span>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "Validation_Message" })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <button type="submit" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-success">
                            Submit
                        </button>
                        <button type="button" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-danger" onclick="location.href='@Url.Action("Index", "Equipment")';">
                            Cancel
                        </button>
                    </div>}
                <!-- /.card-body -->
                <div class="card-footer">

                </div>
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- InputMask -->
    <script src="~/Scripts/moment.min.js"></script>

    <!-- Page script -->

</body>
</html>
