@model The_Gym.Models.Send_FeedbackModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@{
    <div class="signin-form send-mail">
        <h3>Send Feedback</h3>
        @using (Html.BeginForm("Send_Feedback", "Login", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Name, new { @class = "name", @placeholder = "Your Name", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "Validation_Message" })
            @Html.TextBoxFor(model => model.Email, new { @class = "email", @placeholder = "Your Email", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "Validation_Message" })
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @placeholder = "Your Feedback", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "Validation_Message" })
            <input type="submit" value="SEND EMAIL">
            <div class="signin-agileits-bottom">
                @if (Model.Role_ID == 1)
                {
                    <p><a href="@Url.Action("Owner", "Dashbord", new { ID = 0 })">Cancel and go back to Dashbord</a></p>
                }
                @if (Model.Role_ID == 2)
                {
                    <p><a href="@Url.Action("Manager", "Dashbord", new { ID = 0 })">Cancel and go back to Dashbord</a></p>
                }
            </div>
        }
    </div>
}