@model The_Gym.Models.PlaneModel

@{ 
    Layout = "~/Views/Shared/_CrudLayout.cshtml"; 
}

@{ 
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- SELECT2 EXAMPLE -->
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Add Plan</h3>
                </div>
                <!-- /.card-header -->
                @using (Html.BeginForm("Create", "Plan", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body" id="notification">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name)<span style="color: #FF0000;">*</span>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "Validation_Message" })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Duration)<span style="color: #FF0000;">*</span>
                                    @Html.DropDownListFor(model => model.Duration, new SelectList(ViewBag.Plane_Duration), "Select Duration", new { @class = "form-control select2", @style = "width: 100%;" })
                                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "Validation_Message" })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Duration_No)<span style="color: #FF0000;">*</span>
                                    @Html.TextBoxFor(model => model.Duration_No, new { @class = "form-control", @placeholder = "Duration No", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Duration_No, "", new { @class = "Validation_Message" })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Worth)<span style="color: #FF0000;">*</span>
                                    @Html.TextBoxFor(model => model.Worth, new { @class = "form-control", @placeholder = "Worth", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Worth, "", new { @class = "Validation_Message" })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.GST)<span style="color: #FF0000;">*</span>
                                    @Html.DropDownListFor(model => model.GST, new SelectList(ViewBag.Plane_GST), "Select GST Rate", new { @class = "form-control select2", @style = "width: 100%;" })
                                    @Html.ValidationMessageFor(model => model.GST, "", new { @class = "Validation_Message" })
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <button type="submit" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-success">
                            Submit
                        </button>
                        <button type="button" class="mb-2 mr-2 border-0 btn-transition btn btn-outline-danger" onclick="location.href='@Url.Action("Index", "Plan")';">
                            Cancel
                        </button>
                    </div>
                }
                <!-- /.card-body -->
                <div class="card-footer">

                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
    </section> 
    <!-- /.content --> 
}

@section scripts {
    <!-- Page script -->
    <script>$(function () {
            //Initialize Select2 Elements
            $('.select2').select2()

            //$("body").on('click keypress', function () {
            //    //ResetThisSession();
            //});
        })

            //var timeInSecondsAfterSessionOut = 600; // to change the session time out, change this value. Must be in seconds.
            //var secondTick = 0;

            //function ResetThisSession() {
            //    secondTick = 0;
            //}

            //function StartThisSessionTimer() {
            //    secondTick++;
            //    var timeLeft = ((timeInSecondsAfterSessionOut - secondTick) / 60).toFixed(0); // in minutes
            //    timeLeft = timeInSecondsAfterSessionOut - secondTick;
            //    $("#spanTimeLeft").html(timeLeft);

            //    if (secondTick > timeInSecondsAfterSessionOut) {
            //        clearTimeout(tick);
            //        window.location = "/Logout.aspx";
            //        return;
            //    }
            //    tick = setTimeout("StartThisSessionTimer()", 1000);
            //}

            //StartThisSessionTimer();</script>
}
